html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    background-image: url("../images/Death-Star.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: brown;
    font-family: 'Saira', sans-serif;
    padding: 10px;
}

h1 {
    font-size: 80px;
    text-align: right;
}

h2 {
    font-size: 30px;
}

p {
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 20px;
    line-height: 1.3;
}

.playerArea {
    height: 200px;
}

.player {
    float: left;
    margin: 5px 5px 5px 0;
    background-color: yellow;
    color: black;
    text-align: center;
    width: 160px;
}

#attacker .player {
    background-color: white;
}

#defender .player {
    background-color: brown;
    color: pink;
}

img {
    height: 100px;
    width: 150px;
}

.attackButton {
    background-color: red;
    color: white;
    font-size: 30px;
    border: 0;
    padding: 10px;
    visibility: hidden;
}